.aside_area{
    width: 320px;
    height: 300px;
    border: 1px solid gainsboro;
    position: fixed;
}

.aside_header{
    padding: 15px;
}

.aside_compensation{
    width: 80%;
    /* display: block; */
    /* justify-content: space-between; */
    list-style: none;
}

.aside_area .aside_button{
    justify-content: center;
}

.aside_button{
    margin-top: 15px;
}

.aside_button button{
    cursor: pointer;
    height: 50px;
    width: 100%;
    border-radius: 30px;
}

.aside_button .aside_apply{
    margin-top: 10px;
}

.aside_area h4{
    color: #999;
}


.aside_area ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}

.aside_area ul li p{
    margin-top: -15px;
}