.aside_area{
    width: 320px;
    height: 300px;
    border: 1px solid gainsboro;
    position: fixed;
}

.aside_header{
    padding: 20px;
}

.aside_compensation{
    width: 80%;
    /* display: block; */
    /* justify-content: space-between; */
    list-style: none;
}

ul{
    display: flex;
    list-style: none;
    overflow: hidden;
}

li{
    display: list-item;
    text-align: left;
}