a{
    text-decoration: inherit;
    cursor: pointer;
}
.adding_resume{
    align-items: center;
    height: 90px;
    width: 75%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background: #258bf7;
    border-radius: 3px;
}

p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.adding_resume .btn{
    /* width: 700px; */
    background-color: #ffffff;
    color: #4580DE;
    font-size: 15px;
    height: 50%;
    font-weight: 600;
}
.adding_resume .comment{
    top: 50%;
    display: inline-block;
    line-height: 1.4;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}