a{
	text-decoration: inherit;
  cursor: pointer;
}
.resume{
	height: 90px;
	width: 75%;
	margin: auto;
	display: block;
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
	max-width: 1060px;
	background: #258bf7;
	border-radius: 3px;
}
h3{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding-right: 225px;
	color: white;
	font-size: 18px;
	font-weight: 400;
}
p{
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
/* .adding_resume{
	color: white;
	font-size: 15px;
	background-color: #4580DE;
	width: 75%;
	margin: auto;
	height: 80px;
	display: flex;
	margin-top: 50px;
	border-radius: 5px;
} */

.adding_resume .btn{
	background-color: #ffffff;
	color: #4580DE;
	font-size: 15px;
	height: 50%;
}
.resume .comment{
	display: inline-block;
	line-height: 1.4;
}