.detail_page{
	/* position: relative; */
	width: 75%;
	/* display: flex;
	justify-content: space-between; */
	margin: auto;
	margin-top: 20px;
}

/* .detail_introduction{
	float: left;
} */

.detail_page h2{
	color: #333;
	font-size: 22px;
	font-weight: 700;
}

.detail_page h6{
	color: #333;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.75;
}

.detail_page .job_companyname{
	font-size: 16px;
	font-weight: 700;
	color: #333;
	margin-top: -16px;
}

.detail_page .detail_introduction{
	width: 100%;
	/* float: left; */
}

.job_description .job_start{
	width: 85%;
	line-height: 1.5;
}

.detail_page section{
	line-height: 1;
}

.detail_page img{
	/* height: 480px; */
	padding: 0;
	height: 500px;
	width: auto;
	margin: auto;
	border-radius: 5px;
}

.detail_page .job_description{
	padding-top: 40px;
	font-size: 17px;
	width: 75%;
}

.detail_page .applying_button{
	/* padding: 0;
	margin: 0; */
	float: left;
	border: 1px thin orange;
	border-radius: 5px;
	/* float: left; */
}

.detail_page .job_preference{
	display: block;
}

.detail_page .job_description ul{
	/* display: flex; */
	/* flex-direction: column; */
	padding-left: 0px;
}


