.writing_resume{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 650px;
    margin: auto;
    margin-top: 30px;
}

.writing_resume .aside_avatar{
    /* display: inline; */
    width: 80%;
    margin: auto;
    text-align: center;
}

.aside_avatar .aside_image{
    margin: 0 auto;
    margin-top: 15px;
    
}

.aside_avatar .aside_me{
    margin-top: 20px;
}

.writing_resume .aside_profile{
    border: 1px solid gainsboro;
    height: 400px;
}

.matchup_status{
    margin-top: 50px;
    width: 250px;
    padding-left: 18px;
    padding-right: 18px;
    /* width: 80%; */
    /* margin: auto; */
}

.aside_profile .matchup_status div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.aside_profile .matchup_status .matchup_status_number{
    font-weight: 600;
}

.writing_resume .matchup_form{
    width: 790px;
    border: 1px solid gainsboro;
}

.aside_me_name{
    font-size: 20px;
    font-weight: 400;
}

.aside_image{
    width: 100px;
    height: 100px;
    border: 1.5px solid #000000;
    border-radius: 100%;
    opacity: 0.1;
    text-align: center;
    top: 50%;
    color: #000000;
}

.matchup_form{
    padding: 25px;
}

.matchup_form .matchup_education{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.matchup_form .matchup_education input{
    width: 600px;
}

.matchup_form .matchup_company{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.matchup_form .matchup_company input{
    width: 600px;
}

.matchup_form .matchup_company .matchup_company_status{
    display: block;
}

.matchup_form label{
    padding-top: 45px;
}

label .matchup_fillout{
    padding-top: 10px;
    padding-bottom: 10px;
}

#simple_intro{
    /* position: absolute; */
    border: 1px solid gainsboro;    
    width: 738px;
    height: 250px;
}