nav{
    margin: auto;
    font-weight: bold;
}

.navigation_tab{
    width: 75%;
    margin: auto;
    margin-top: 10px;
    color: #000000;
    font-size: 20px;
    display: flex;
    /* align-items: center; */
}

.navigation_tab h2{
    /* margin-top: px; */
    font-size: 22px;
    font-weight: 600;
}

.navigation_tab .apply_bookmark{
    margin: auto;
    margin-top: -35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    border: 1.8px solid #36f;
    border-radius: 30px;
    height: 36px;
    /* vertical-align: middle; */
    background-color: #ffffff;
    align-items: center;
}

.navigation_tab ul{
    margin: 0;
    text-align: center;
    margin-top: -10px;
    height: inherit;
    /* display: block; */
    
}

.navigation_tab ul li{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    font-size: 16px;
}


